/solution
/lib
.DS_Store
app/ios/.DS_Store
app/ios/resources/data
app/ios/.DS_Store
app/ios/frame/.DS_Store
app/ios/frame/Platform/.DS_Store
build/editor/windows/nsis/echo
bin/app/Win32/Debug/data
bin/app/Win32/Release/data
bin/app/Mac
bin/editor/Win64/Debug/build
bin/editor/Win64/Release/build
bin/editor/Mac/Debug
bin/editor/Mac/Release
/engine/core/base/echo_config.h
bin/editor/Debug/echo
/soulution
/app/android/app/.cxx
/thirdparty/openal-soft/config.h
.vscode/
/build
/cmake-build-debug
/.idea